html:focus-within {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}   

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 120px 0;
    color: #DAF7F3;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

.button {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #DAF7F3;
    color: rgb(0, 12, 29);
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
    transition: 0.2s ease-out;
}

.button:hover {
    background-color: #002f41;
    color: #DAF7F3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

p {
    margin-bottom: 40px;
}